@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  header{
    background-color: #44292d;
    padding: 5px;
    font-size: 25px;
    color: white;

    nav{
      margin: 0% 5%;
      padding: 7px 0;
      display: flex;
      justify-content: space-between;
      img{
        height: 100px;
        width: 170px;
        display: inline-block;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        li{
          padding: 15px;
          font-family: "Nunito";
        }
      }
    }
  }

  main{
    margin: 1.5% 5% 0 5%;
    // min-width: 960px;
    // max-width: 1100px;
    // margin: 0 auto;
    background-color: #F2D8D5;
    border-radius: 4px;
    min-height: 100vh;

    .top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 15px;
      
      h2{
        background-color: 59524C;
        color: rgba(68, 41, 45, 0.8);
        font-family: "Nunito";
        font-weight: bold;
      }

      p{
        color: rgba(68, 41, 45, 0.8);
        font-family: "Nunito";
      }
    }
    
    
  
    .main{
      display: flex;
      justify-content: space-between;

      form{
        min-height: 450px;
        min-width: 400px;
        div.card{
          min-height: 450px;
          min-width: 400px;
          img{
            width: 100%;
            height: 100%;
            opacity: 0.5;
          }

          .card-body{
            
            .card-title{
             width: 50%;
             display: block;
             text-align: center;
             margin-bottom: 5%;
             margin-left: 25%;
             font-size: 25px;
             padding: 8px;
             color: rgb(68, 41, 45);;
             margin-top: -20px;
             font-family: "Nunito";
             font-weight: 800;
            }
            .form-group{
              margin-bottom: 13px;

              label {
                font-weight: 500;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }

              input, select{
                border: none;
                background-color: transparent;
                border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                font-size: 15px;
                padding-left: 0;
              }

              input[name='text']{
                width: 84%;
              }

              input[name='notes']{
                width: 73%;
              }

              select{
                width: 62%;
                color: rgba(0, 0, 0, 0.6);  
              }

              input:focus{
                
                background-color: transparent;
                
              }
            }
          }
          button{
            background-color: #991B05;
            border: 1px solid #991B05;
            margin-top: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
          }
        }
      }
  
      div{
        width: 95%;

        .completeBadge {
          background-color: #991B05;
      }
        .pendingBadge {
          background-color: rgb(87, 173, 126);
      }
  
        .card{
          height: 300px;
          margin-left: 2%;
        }
      ul{
        list-style-type:none;
        margin:0;
        padding:0;

        li {
          .toast{
            margin-bottom: 1em;
            min-width: 40vw;
            cursor: pointer;
            background-color: #F8F4F1;
            .badge{
              margin-right: 2em;
            }

            .toast-header{
              display: flex;
              width: 100%;
              background-color: #F8F4F1;
              font-family: "Nunito";
              font-weight: lighter;
              font-size: 15px;

              strong {
                margin-right: auto;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }
              
              button {
                background: transparent;
                border: none;
                cursor: pointer;
                align-self: flex-end;
              }
            }

            .toast-body{
              small{
                font-family: "Nunito";
                font-size: 15px;
              }
            }

            
          }
        
        }
      }

      }
    }
  }

  footer {
    margin-top: 1.5%;
    text-align: center;
    padding: 15px 0px;
    background-color: #44292d;

    p{
      color: white;
    }
  }


  
}
